<!DOCTYPE html>
<html>
<head>
    <title>Device controlling</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="overlay">
  <div class="header">
    <div class="inside">
        <!-- <div class="text-center">
        <form action="/home" method="GET">
          <button class="button1" type="submit"><b>Hands</b></button>
        </form>
        </div> -->
        <div class=title>
          <h1 font-family="Fantasy"><b><i>Gesture Based Device Controlling</i></b></h1>
          <marquee direction="right"><h2><i>--- Take Controls With You ---</i></h2></marquee>
        </div>
        <!-- <div class="text-center2">
          <form action="/home2" method="GET">
            <button class="button2" type="submit"><b>Eyes</b></button>
          </form>
          </div> -->
    </div>
  </div>
<!-- <h1 ><b>Virtual Mouse</b></h1>
<div class="text-center">
  <form action="/home" method="GET">
    <button class="button1" type="submit"><b>Hands</b></button>
  </form>
  </div>
  
<div class="text-center2">
  <form action="/home2" method="GET">
    <button class="button2" type="submit"><b>Eyes</b></button>
  </form>
  </div> -->

  <div class="inf">
    <div class="buttons">
      <div class="b">
        <form action="/home2" method="GET">
          <button class="but1" type="submit"><b><i>Mouse control</i></b></button>
        </form>
        <!-- <h2><b><i>Mouse control</i></b></h2> -->
      </div>
      <div class="b">
        <form action="/home2" method="GET">
          <button class="but1" type="submit"><b><i>Device control</i></b></button>
        </form>
        <!-- <h2><b><i>Device control</i></h2> -->
      </div>
      <div class="b" style="padding-top: 0px;">
        <form action="/home2" method="GET">
          <button class="but1" type="submit"><b><i>Board</i></b></button>
        </form>
        <!-- <h2><b><i>Board</i></h2> -->
      </div>
    </div>
  </div>
  </div>
</body>
</html>